@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

// Fix font in yasgui editor
.CodeMirror {
  font-family: "Open Sans" !important;
  font-size: 14px;
}
// Resize YASGUI datatable results
.yasr .dataTables_wrapper table.dataTable td > div {
  font-size: 14px;
  padding: 1px 5px 1px 5px;
}

.flexGrow {
  flex-grow: 1;
}

.mainContainer {
  margin-top: 40px;
  margin-bottom: 40px; 
}

// Data table fix to avoid overflow
.dataTable {
  width: 100%;
  table-layout: fixed;
}
.dataTable th {
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
}
.dataTable td {
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
}
table.dataTable.no-footer tbody td {
  padding: 3px;
}


// Make tabs look like Material UI
.react-tabs__tab-list {
  border-bottom: 1px solid #eceff1 !important;
  // blueGrey[50] palette.primary.light
}
.react-tabs__tab {
  border: 0px !important;
}
.react-tabs__tab--selected {
  border-bottom: 1px solid #1976d2 !important;
}
