@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0;
  padding: 0;
  text-align: center;
}
.mainContainer {
  height: 100%;
  margin-top: 20px;
  // margin-bottom: 40px; 
}
.flexGrow {
  flex-grow: 1;
}

// Edit height of ExpansionPanel header in describe
.MuiExpansionPanelSummary-root.Mui-expanded.MuiButtonBase-root {
  height: 48px;
  min-height: 48px;
}

// Fix font in yasgui editor
.yasgui .yasqe .CodeMirror {
  font-family: "Open Sans";
  font-size: 13px;
}
// Resize YASGUI datatable results
.yasr .dataTables_wrapper table.dataTable td > div {
  font-size: 13px;
  padding: 1px 5px 1px 5px;
}
table.dataTable thead {
  font-size: 14px;
}

// Data table fix to avoid overflow
table.dataTable, .grip-container {
  width: 100% !important;
}
.dataTable {
  width: 100%;
  table-layout: fixed;
}
.dataTable th {
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
}
.dataTable td {
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
}
table.dataTable.no-footer tbody td {
  padding: 3px;
}


// Make tabs look like Material UI
.react-tabs__tab-list {
  border-bottom: 1px solid #eceff1 !important;
  // blueGrey[50] palette.primary.light
}
.react-tabs__tab {
  border: 0px !important;
}
.react-tabs__tab--selected {
  border-bottom: 1px solid #1976d2 !important;
}
